.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  width: 600px;
  max-height: 80%;
  overflow: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  .contener-header{
    position: relative;
    .header-close {
      position: absolute;
      top: 0px;
      right: 20px;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 20px;
      line-height: 20px;
      color: #555;
      align-self: flex-end;
    }
  }
}